@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Serif:opsz,wght@8..144,300&family=Vast+Shadow&display=swap');

footer {
    background-color: rgba(255, 126, 32, 0.06);
    color: black;
    font-family: 'Oswald', sans-serif;
}

.titles{
    display: flex;
    
}

.parrafo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.footer-base{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer{
    width: 100%;
}

.parrafo1 div{
    display:flex;
    flex-direction: row;
    column-gap: 40px;
}

.st{
    width: 124px;
    text-align: left;
}
